@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

/* hide scrollbar */
.sidebar::-webkit-scrollbar {
  display: none;
}

/* so in sidebar when hovered over user, the increased border size doesnt shift the items down */ */
.userDiv{
  padding: 17px;
}

.userDiv:hover{
  padding: 16px;
  box-shadow: 0 0 20px rgba(234, 96, 32, 0.5)
}
 
.icon-transition {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.fade-out {
  opacity: 0;
  transform: scale(0.8);
}
.fade-in {
  opacity: 1;
  transform: scale(1);
}

.dropdown-menu {
  border-radius: 5px;
  user-select: none;
  position: absolute;
  z-index: 10;
  background-color: #090f2d;
  border: 1px solid #FFA500; 
  max-height: 200px; 
  overflow-y: auto; 
  padding: 8px;
}

.dropdown-menu .Dropdown-option:hover {
  background-color: #121b4a; /* Example hover color */
}